<tr  id="<%= dom_id friend %>">
  <th scope="row">
      <%= friend.first_name %>
  </th>
  <td>
    <%= friend.last_name %>
  </td>
  <td>
    <%= friend.email %>
  </td>
  <td>
    <%= friend.phone %>
  </td>
  <td>
    <%= friend.twitter %>
  </td>
  <td>
    <%= link_to "Show", friend %>
  </td>
  <td>
    <%= link_to "Edit", edit_friend_path(friend) %>
  </td>
</tr>